.home {
  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1336px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto 0 auto;

 
}
