.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: #fff;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 9999;

  .navbarUp {
    width: 100%;
    background-color: #ff6600;
    margin-bottom: 1px;
  }

  .navbarDown {
    width: 100%;
    background-color: #ffffff;
    max-width: 1366px;
    position: sticky;
    top: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 1.375rem;
    padding-right: 1.375rem;
    box-sizing: border-box;
    display: none;
    @media screen and (min-width: 1024px) {
      display: block;
    }
  }
  .logo img {
    height: 50px;
  }
  .stick {
    width: 0.5px !important;
    background-color: #4b5563;
    height: auto;
    @media screen and (max-width: 1023px) {
      height: 24px;
    }
  }

  .navLinks ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 auto 0 auto;
    box-sizing: border-box;

    li,
    a {
      text-decoration: none;
      color: #4b5563;
      font-size: 14px;
    }
    li {
      display: flex;
      align-items: center;
      gap: 5px;
      margin: 0;
      svg {
        stroke: #4b5563;
        color: #4b5563;
        width: 20px;
        height: 20px;
      }
    }
    .searchWrapper {
      display: flex;
      align-items: center;
      flex: 1;
      flex-direction: row-reverse;

      svg {
        position: absolute;
        width: 24px;
        height: 24px;
        transform: translateX(-35%);
      }

      input {
        width: 100%;
        height: 40px;
        border-radius: 8px;
        font-size: 0.75rem;
        padding: 4px 16px;
        background-color: #e5e7eb;
        box-sizing: border-box;
        border: 0 solid #e5e7eb;

        &:focus-visible {
          border: 0 solid #e5e7eb !important;
        }
        &::placeholder {
          color: #9ca3af;
          font-size: 0.75rem;
        }
      }
    }
  }

  .navButton {
    display: flex;
    gap: 5px;
    border: none;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.875rem;
    padding-right: 0.875rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    height: 2.5rem;
    font-size: 0.875rem;
    color: #4b5563;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      background-color: #f3f4f6;
    }
  }

  .cartSection {
    .cartLink {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #fff;
      font-size: 16px;

      .cartIcon {
        margin-right: 5px;
        font-size: 20px;
      }
    }
  }
}


// mobile
.navbarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  @media  screen and (min-width: 1024px) {
    display: none;
  }
}

.navbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  color: #4b5563;
  font-size: 14px;
  padding: 0 1.375rem;
  box-sizing: border-box;
}
.categories, .location{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  svg{
    width: 16px;
    height: 16px;
  }
}
.searchIcon{
  min-width: 60px;
  display: flex;
  justify-content: center;
  svg{
    width: 24px;
    height: 24px;
  }
}
.searchInputWrapper {
  margin-top: 10px;
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: center;
  padding: 0 1.375rem;
  box-sizing: border-box;
}

.searchInput {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  font-size: 0.75rem;
  padding: 4px 16px;
  background-color: #e5e7eb;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;

  &:focus-visible {
    border: 0 solid #e5e7eb !important;
  }
  &::placeholder {
    color: #9ca3af;
    font-size: 0.75rem;
  }
}

