@font-face {
  font-family: "Montserrat";
  src: url("./assets/font/Montserrat-VariableFont_wght.ttf") format("truetype");
}

* {
  font-family: Montserrat;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #f3f4f6;
  box-sizing: border-box;
}

// :global(.ant-input) {
//   min-width: 570px;
// }
main {
  @media screen and (max-width: 1023px) {
    padding-bottom: 45px;
  }
}

:global(.swiper-pagination-bullet) {
  width: 15px !important;
  height: 3px !important;
  background: transparent;
  border-radius: 0 !important;
  opacity: 1;
  transition: 0.3s;
  color: red !important;
}

:global(.swiper-pagination-bullet-active) {
  background: #fff !important;
}
:global(.swiper-button-next),
:global(.swiper-button-prev) {
  color: #fff !important;
  font-size: 20px;
  z-index: 10;
  &:after {
    font-size: 20px;
  }
  @media screen and (max-width: 1024px) {
    display: none !important;
  }
}

:global(.ant-modal-wrap) {
  z-index: 999999 !important;
}

:global(.ant-scroll-number) {
  margin-top: 30px !important;
  font-size: 10px !important;
  background-color: #ec6323 !important;
  min-width: 18px !important;
  height: 18px !important;
  right: 9px !important;
  align-items: center !important;
}

:global(.ant-back-top) {
  right: 10px;
  bottom: 15px;
  @media screen and (max-width: 1023px) {
    bottom: 70px;
  }
}
